<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nobug.camerademo">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <!-- 闪光灯权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!--Camera需要-->
    <uses-feature android:name="android.hardware.camera" />
    <!--Camera2需要-->
    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/file_paths"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CameraDemo"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SystemCameraActivity" />

        <activity
            android:theme="@style/Theme.NoActionBar"
            android:name=".camera.texture.TextureCameraActivity" />

        <activity
            android:theme="@style/Theme.NoActionBar"
            android:name=".camera.surface.SurfaceCameraActivity" />

        <activity
            android:theme="@style/Theme.NoActionBar"
            android:name=".camera2.texture.TextureCamera2Activity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.nobug.camerademo.takephoto.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>